In [2]:
#import relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('winemag-data-130k-v2.csv',index_col=0)

In [8]:
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
# df.head(20)
df['description']

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
2         Tart and snappy, the flavors of lime flesh and...
3         Pineapple rind, lemon pith and orange blossom ...
4         Much like the regular bottling from 2012, this...
                                ...
129966    Notes of honeysuckle and cantaloupe sweeten th...
129967    Citation is given as much as a decade of bottl...
129968    Well-drained gravel soil gives this wine its c...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

#### Who are the most common wine reviewers in the dataset?

In [9]:
reviewer=df.groupby(['taster_twitter_handle']).points.count()

In [10]:
reviewer

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: points, dtype: int64

#### What is the best wine I can buy for a given amount of money?

In [15]:
wines=df.groupby('price')['points'].max().sort_index()
wines.head()

price
4.0    86
5.0    87
6.0    88
7.0    91
8.0    91
Name: points, dtype: int64

In [27]:
wine_price=df.groupby('variety').price.agg([min,max])
wine_price.head()

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0

#### What are the most expensive wine varieties?

In [31]:
wine=wine_price.sort_values(ascending=False,by=['min','max'])

In [32]:
wine.head(20)

                              min    max
variety
Ramisco                     495.0  495.0
Terrantez                   236.0  236.0
Francisa                    160.0  160.0
Rosenmuskateller            150.0  150.0
Tinta Negra Mole            112.0  112.0
Pignolo                      70.0   70.0
Syrah-Cabernet Franc         60.0   69.0
Garnacha-Cariñena            57.0   57.0
Doña Blanca                  53.0   53.0
Cercial                      50.0   50.0
Mavrotragano                 50.0   50.0
Sercial                      50.0   50.0
Pugnitello                   49.0   49.0
Malbec-Cabernet              45.0  165.0
Tinta del Pais               45.0   50.0
Touriga                      45.0   46.0
Babosa Negro                 45.0   45.0
Cabernet Sauvignon-Barbera   45.0   45.0
Syrah-Grenache-Viognier      45.0   45.0
Tinta Madeira                45.0   45.0

#### Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer.

In [34]:
wine_review=df.groupby('taster_name')['points'].mean()

In [35]:
wine_review.head()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Name: points, dtype: float64

#### What combination of countries and varieties are most common?

In [44]:
combo=df.groupby(['country','variety']).size().sort_values(ascending=False)

In [45]:
combo.head()

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
dtype: int64

In [12]:
df_wb = df[df['variety'] == 'White Blend']

In [6]:
# Tokenization
ingredient_idx = {}
corpus = []
idx = 0 

for i in range(len(df)):    
    ingredients = df_wb['description'][i]
    ingredients_lower = ingredients.lower()
    tokens = ingredients_lower.split(', ')
    corpus.append(tokens)
    for ingredient in tokens:
        if ingredient not in ingredient_idx:
            ingredient_idx[ingredient] = idx
            idx += 1